@import url('https://harmlesswebsite.leoshi6.repl.co/style.css');
.header {
    background-color: #33d17a;
    color: black;
    display: flex;
    flex-wrap: wrap;
}
.header > div {
    padding: 7px;
}
.hidden2eyes {
    position: fixed; 
    top: -8888px;
    left: -8888px;
}
#preview-area {
    padding: 7px;
    border: 1px dotted gray;
}
#latest-articles {
    display: flex;
    flex-wrap: wrap;
}
#latest-articles div {
    padding: 10px;
    width: 25%;
    min-width: 300px;
}
.toolbar {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 3px;
    background-color: lightgray;
}
.toolbar button {
    transition: none !important;
    border-radius: none !important;
    background-color: transparent !important;
    border: 1px solid transparent !important; 
    padding: 4px !important;
    margin: none !important;
    box-shadow: none !important
}
.toolbar > button:hover {
    border: 1px solid black !important;
    background-color: #f9f06b !important;
}
.toolbar > button > img {
    height: 16px;
    display: block;
}